<div class="dialog-container" @fadeUp *ngIf="mode === 'IDLE'">
    <div class="card dialog">
        <span class="title">Reset Password</span>
        <span class="text">
            In order to reset the password for your account, provide a new
            password below:
        </span>
        <form
            class="input-block"
            [formGroup]="resetForm"
            (ngSubmit)="onResetClick()"
        >
            <input
                class="input"
                type="password"
                name="password"
                placeholder="Password"
                formControlName="password"
            />
            <div
                class="alert alert-error login-error"
                *ngIf="showForInvalid(resetForm, 'password')"
                @vshrink
            >
                <ng-container *ngIf="resetForm.get('password').errors.required">
                    You must provide a password.
                </ng-container>
                <ng-container
                    *ngIf="resetForm.get('password').errors.minlength"
                >
                    Your password must be at least 6 characters.
                </ng-container>
                <ng-container
                    *ngIf="resetForm.get('password').errors.maxlength"
                >
                    Your password can only be 32 characters long maximum.
                </ng-container>
            </div>
            <input
                class="input"
                type="password"
                name="passwordConfirm"
                placeholder="Confirm password"
                formControlName="passwordConfirm"
            />
            <div
                class="alert alert-error login-error"
                *ngIf="
                    showForInvalid(resetForm, 'passwordConfirm') ||
                    (resetForm.errors?.passwordNoMatch &&
                        (resetForm.get('passwordConfirm').touched ||
                            resetForm.get('passwordConfirm').dirty))
                "
                @vshrink
            >
                <ng-container *ngIf="resetForm.errors?.passwordNoMatch">
                    Please make sure your password confirmation matches your
                    given password.
                </ng-container>
            </div>
            <input
                type="submit"
                style="visibility: hidden; position: absolute"
            />
            <div
                class="alert alert-error login-error"
                *ngIf="resetError"
                @vshrink
            >
                {{ resetError }}
            </div>
        </form>
        <button
            class="btn btn-primary"
            (click)="onResetClick()"
            [disabled]="
                resetStatus === 'IN_PROGRESS' ||
                resetStatus === 'SUCCESS' ||
                resetForm.invalid
            "
        >
            <div class="flex-row jc-center ai-center">
                <div *ngIf="resetStatus === 'IN_PROGRESS'" @hshrink>
                    <app-spinner [size]="'SMALL'"></app-spinner>
                </div>
                <div
                    *ngIf="resetStatus === 'IDLE' || resetStatus === 'ERROR'"
                    @hshrink
                    class="nowrap"
                >
                    Reset Password
                </div>
                <div *ngIf="resetStatus === 'SUCCESS'" @hshrink>
                    <i class="material-icons">done</i>
                </div>
            </div>
        </button>
    </div>
</div>

<div class="dialog-container" @fadeUp *ngIf="mode === 'TOKEN_EXPIRED'">
    <div class="card dialog">
        <i class="material-icons">warning</i>
        <span class="text">
            This password reset link has expired. To reset your password, please
            make a new password reset request.
        </span>
        <button class="btn btn-secondary" routerLink="login">Ok</button>
    </div>
</div>

<div class="dialog-container" @fadeUp *ngIf="mode === 'SUCCESS'">
    <div class="card dialog">
        <i class="material-icons">done</i>
        <span class="text">
            Your password has been reset successfully! You can now sign in with
            your new password.
        </span>
        <button class="btn btn-secondary" routerLink="login">Ok</button>
    </div>
</div>
