<div class="card-set">
    <div class="card">
        <div class="header">
            <div class="info">
                <h1 class="info-title">{{ set.name }}</h1>
                <div class="info-set-modes">
                    <app-review-mode-chip
                        *ngFor="let mode of set.modes"
                        [mode]="mode"
                    ></app-review-mode-chip>
                </div>
                <!--                <div class="info-next-review">Time until next review: Now</div>-->
            </div>
            <div class="actions">
                <button
                    class="btn btn-rect btn-count"
                    [ngClass]="
                        !!set.srsStatus?.lessons
                            ? 'btn-primary'
                            : 'btn-unavailable'
                    "
                    [disabled]="!set.srsStatus?.lessons"
                    [routerLink]="['/lessons', { setId: set.id }]"
                >
                    <span>Lessons</span>
                    <span class="btn-counter-badge">{{
                        set.srsStatus?.lessons || 0
                    }}</span>
                </button>
                <button
                    class="btn btn-rect btn-count"
                    [ngClass]="
                        !!set.srsStatus?.reviews
                            ? 'btn-primary'
                            : 'btn-unavailable'
                    "
                    [disabled]="!set.srsStatus?.reviews"
                    [routerLink]="['/reviews', { setId: set.id }]"
                >
                    <span>Reviews</span>
                    <span class="btn-counter-badge">{{
                        set.srsStatus?.reviews
                    }}</span>
                </button>
                <button
                    class="btn btn-rect xs-hidden btn-transparent btn-settings"
                    (click)="openSetActionsModal($event)"
                >
                    <i class="material-icons">settings</i>
                </button>
            </div>
            <button
                class="btn btn-rect btn-xs-settings sm-hidden"
                (click)="openSetActionsModal($event)"
            >
                <i class="material-icons">settings</i>
            </button>
        </div>

        <div class="srs-row">
            <div
                class="srs-group"
                *ngFor="let group of srsService.srsGroups; let index = index"
                [style.background-color]="group.bgColor"
                [style.color]="group.fgColor"
            >
                <span>
                    {{ srsService.getCountForGroup(index, set.srsStatus) }}
                </span>
                <span>{{ group.name }}</span>
            </div>
            <div class="srs-row-shadow"></div>
        </div>
    </div>
</div>
