<div class="card-set">
    <div class="card">
        <div class="header">
            <div class="info">
                <h1 class="info-title">Genki I: Chapter 1</h1>
                <div class="info-set-modes">
                    <div class="set-mode">
                        <span class="flag-icon flag-icon-gb"></span>
                        <i class="material-icons">arrow_forward</i>
                        <span class="flag-icon flag-icon-jp"></span>
                    </div>
                    <div class="set-mode">
                        <span class="flag-icon flag-icon-jp"></span>
                        <i class="material-icons">arrow_forward</i>
                        <span class="flag-icon flag-icon-gb"></span>
                    </div>
                    <div class="set-mode">
                        <span>漢字</span>
                        <i class="material-icons">arrow_forward</i>
                        <span>かな</span>
                    </div>
                </div>
                <span class="info-next-review">
                    Time until next review: Now
                </span>
            </div>
            <div class="actions">
                <button class="btn btn-primary btn-rect btn-count">
                    <span>Lessons</span>
                    <span class="counter-badge">30</span>
                </button>
                <button class="btn btn-unavailable btn-rect btn-count" disabled>
                    <span>Reviews</span>
                    <span class="counter-badge">0</span>
                </button>
                <button class="btn btn-rect">
                    <i class="material-icons">settings</i>
                </button>
            </div>
        </div>

        <div class="srs-row">
            <div class="srs-group srs-group-1">
                <span>1</span>
                <span>Apprentice</span>
            </div>
            <div class="srs-group srs-group-2">
                <span>2</span>
                <span>Guru</span>
            </div>
            <div class="srs-group srs-group-3">
                <span>3</span>
                <span>Master</span>
            </div>
            <div class="srs-group srs-group-4">
                <span>4</span>
                <span>Enlightened</span>
            </div>
            <div class="srs-group srs-group-5">
                <span>5</span>
                <span>Burned</span>
            </div>
            <div class="srs-row-shadow"></div>
        </div>
    </div>
</div>
