<div class="modal-bg" @bg @triggerModal>
    <div
        class="modal modal-sm"
        @modal
        (clickOutside)="close()"
        [smoothHeight]="page"
    >
        <div class="modal-page" *ngIf="page === 'CONFIG'" @modalPage>
            <div class="modal-header">
                <h1>Import Set</h1>
            </div>
            <div class="modal-content ai-start">
                <div
                    class="file-box animate__animated"
                    (click)="fileInput.click()"
                    [class.animate__shakeX]="shakeFileInput"
                    [style.--animate-duration]="'0.5s'"
                >
                    <i class="material-icons">upload_file</i>
                    <span *ngIf="!fileData">Select file</span>
                    <span *ngIf="fileData" class="selected"
                        >File: {{ file.name }}</span
                    >
                    <input
                        type="file"
                        id="fileInput"
                        #fileInput
                        (change)="handleFileInput($event.target)"
                    />
                </div>
                <div
                    class="alert alert-error"
                    *ngIf="fileErrorMessage"
                    @vshrink
                >
                    {{ fileErrorMessage }}
                </div>
                <span style="margin: 1em 0 0.5em 0">Aspects to import:</span>
                <div class="toggle-row">
                    <app-checkbox
                        [checked]="true"
                        [disabled]="true"
                    ></app-checkbox>
                    <span>All Cards</span>
                </div>
                <div class="toggle-row">
                    <app-checkbox [(checked)]="includeReviews"></app-checkbox>
                    <span>SRS Progress</span>
                </div>
            </div>
            <div class="modal-actions">
                <button class="button btn btn-secondary" (click)="close()">
                    Cancel
                </button>
                <button
                    class="button btn btn-primary"
                    (click)="importSet()"
                    [disabled]="!fileData"
                >
                    Import
                </button>
            </div>
        </div>
        <div class="modal-page" *ngIf="page === 'IMPORTING'" @modalPage>
            <div class="modal-header">
                <h1>Import Set</h1>
            </div>
            <div
                class="modal-content ai-center no-padding"
                [smoothHeight]="importStatus"
            >
                <div
                    @crossFade
                    class="modal-status-container"
                    *ngIf="importStatus === 'IN_PROGRESS'"
                >
                    <app-spinner size="NORMAL"></app-spinner>
                    <span class="status-message">Importing set...</span>
                </div>
                <div
                    @crossFade
                    class="modal-status-container"
                    *ngIf="importStatus === 'ERROR'"
                >
                    <i class="material-icons error-icon">error_outline</i>
                    <span class="status-message">
                        {{ importErrorMessage }}
                    </span>
                </div>
                <div
                    @crossFade
                    class="modal-status-container"
                    *ngIf="importStatus === 'SUCCESS'"
                >
                    <i class="material-icons success-icon"
                        >check_circle_outline</i
                    >
                    <span class="status-message">
                        <span>Set '{{ set.name }}' imported successfully!</span>
                    </span>
                </div>
            </div>
            <div class="modal-actions">
                <button
                    class="button btn btn-secondary"
                    (click)="page = 'CONFIG'"
                    *ngIf="importStatus === 'ERROR'"
                    @hshrink
                >
                    Back
                </button>
                <button
                    class="button btn btn-secondary"
                    (click)="close()"
                    [disabled]="importStatus === 'IN_PROGRESS'"
                    *ngIf="importStatus !== 'SUCCESS'"
                    @vshrink
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
