<!--<div class="view-container">-->
<!--    <div class="top-pane">-->
<!--        <div class="progress-bar">-->
<!--            <div class="progress-bar-inner">-->
<!--                <div-->
<!--                    class="progress-bar-fill"-->
<!--                    [style.width]="progressBarWidth"-->
<!--                ></div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="content" *ngIf="page">-->
<!--            &lt;!&ndash;Test&ndash;&gt;-->
<!--            <div class="content-inner" *ngIf="page.type === 'LESSON'">-->
<!--                <div-->
<!--                    [fittext]="true"-->
<!--                    [maxFontSize]="50"-->
<!--                    [modelToWatch]="page"-->
<!--                    class="fit-text"-->
<!--                >-->
<!--                    <div class="line line-header">Lesson</div>-->
<!--                    <div class="line line-lang">-->
<!--                        <span class="flag-icon flag-icon-jp"></span>-->
<!--                        <span>Japanese</span>-->
<!--                    </div>-->
<!--                    <div-->
<!--                        class="line line-vocab-furigana"-->
<!--                        *ngIf="page.card.value.kanji"-->
<!--                    >-->
<!--                        {{ page.card.value.kana }}-->
<!--                    </div>-->
<!--                    <div class="line line-vocab">-->
<!--                        {{ page.card.value.kanji || page.card.value.kana }}-->
<!--                    </div>-->
<!--                    <div class="line line-lang">-->
<!--                        <span class="flag-icon flag-icon-gb"></span>-->
<!--                        <span>English</span>-->
<!--                    </div>-->
<!--                    <div class="line line-vocab">-->
<!--                        {{ page.card.value.english }}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="content-inner" *ngIf="page.type === 'LESSON_INPUT'">-->
<!--                <div-->
<!--                    [fittext]="true"-->
<!--                    [maxFontSize]="50"-->
<!--                    [modelToWatch]="page"-->
<!--                    class="fit-text"-->
<!--                >-->
<!--                    <ng-container *ngIf="page.mode === 'enToJp'">-->
<!--                        <div class="line">-->
<!--                            {{ page.card.value.english }}-->
<!--                        </div>-->
<!--                    </ng-container>-->
<!--                    <ng-container *ngIf="page.mode === 'kanjiToKana'">-->
<!--                        <div class="line">-->
<!--                            {{ page.card.value.kanji }}-->
<!--                        </div>-->
<!--                    </ng-container>-->
<!--                    <ng-container *ngIf="page.mode === 'jpToEn'">-->
<!--                        <div class="line">-->
<!--                            <div-->
<!--                                class="line line-vocab-furigana"-->
<!--                                *ngIf="page.card.value.kanji"-->
<!--                            >-->
<!--                                {{ page.card.value.kana }}-->
<!--                            </div>-->
<!--                            <div class="line line-vocab">-->
<!--                                {{-->
<!--                                    page.card.value.kanji ||-->
<!--                                        page.card.value.kana-->
<!--                                }}-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </ng-container>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="top-bar">-->
<!--            <div class="left">-->
<!--                <button class="btn action" [routerLink]="['dashboard']">-->
<!--                    <i class="material-icons">home</i>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="right">-->
<!--                <span-->
<!--                    class="counter"-->
<!--                    @fade-->
<!--                    *ngIf="['LESSON_INPUT'].includes(page?.type)"-->
<!--                >-->
<!--                    <i class="material-icons">check</i>{{ itemsCorrect }} /-->
<!--                    {{ itemsInSession }}-->
<!--                </span>-->
<!--                <span-->
<!--                    class="counter"-->
<!--                    @fade-->
<!--                    *ngIf="['LESSON_INPUT', 'LESSON'].includes(page?.type)"-->
<!--                >-->
<!--                    <i class="material-icons">inbox</i>{{ totalItemsRemaining }}-->
<!--                </span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="bottom-pane">-->
<!--        <div class="info-bar">-->
<!--            <ng-container *ngIf="page">-->
<!--                <ng-container *ngIf="page.type === 'LESSON'">-->
<!--                    <div class="info-bar-lessons">-->
<!--                        <button-->
<!--                            class="btn info-bar-lesson"-->
<!--                            [class.active]="page === lesson"-->
<!--                            *ngFor="-->
<!--                                let lesson of pages-->
<!--                                    | filterBy: ['type']:'LESSON':true;-->
<!--                                let index = index-->
<!--                            "-->
<!--                            (click)="goToLesson(index)"-->
<!--                        >-->
<!--                            {{ index + 1 }}-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <button-->
<!--                        class="btn btn-transparent btn-lesson-next"-->
<!--                        (click)="nextLesson()"-->
<!--                    >-->
<!--                        <i class="material-icons">arrow_forward_ios</i>-->
<!--                    </button>-->
<!--                </ng-container>-->
<!--                <ng-container-->
<!--                    *ngIf="-->
<!--                        page.type === 'REVIEW' || page.type === 'LESSON_INPUT'-->
<!--                    "-->
<!--                >-->
<!--                    <ng-container *ngIf="page.mode === 'enToJp'">-->
<!--                        <span class="flag-icon flag-icon-gb"></span>-->
<!--                        <i class="material-icons">arrow_forward</i>-->
<!--                        <span class="flag-icon flag-icon-jp"></span>-->
<!--                    </ng-container>-->
<!--                    <ng-container *ngIf="page.mode === 'jpToEn'">-->
<!--                        <span class="flag-icon flag-icon-jp"></span>-->
<!--                        <i class="material-icons">arrow_forward</i>-->
<!--                        <span class="flag-icon flag-icon-gb"></span>-->
<!--                    </ng-container>-->
<!--                    <ng-container *ngIf="page.mode === 'kanjiToKana'">-->
<!--                        <span>漢字</span>-->
<!--                        <i class="material-icons">arrow_forward</i>-->
<!--                        <span>かな</span>-->
<!--                    </ng-container>-->
<!--                </ng-container>-->
<!--            </ng-container>-->
<!--        </div>-->
<!--        <div-->
<!--            class="input-bar"-->
<!--            *ngIf="['LESSON_INPUT', 'REVIEW'].includes(page?.type)"-->
<!--            [class.success]="-->
<!--                inputStage === 'FEEDBACK' && inputFeedback === 'CORRECT'-->
<!--            "-->
<!--            [class.failure]="-->
<!--                inputStage === 'FEEDBACK' && inputFeedback === 'INCORRECT'-->
<!--            "-->
<!--            @hshrink-->
<!--        >-->
<!--            <input-->
<!--                type="text"-->
<!--                class="input animate__animated"-->
<!--                placeholder="Your Response"-->
<!--                [class.animate__shakeX]="shakeInputAnimation"-->
<!--                [style.&#45;&#45;animate-duration]="'0.5s'"-->
<!--                #answerInput-->
<!--                [wanakana]="enableIME"-->
<!--                (wkInput)="answer = $event"-->
<!--                [readOnly]="inputStage === 'FEEDBACK'"-->
<!--            />-->
<!--            <button class="btn btn-rect btn-transparent btn-submit" (click)="onEnterKey()">-->
<!--                <i class="material-icons">arrow_forward_ios</i>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
