<div class="view-container">
    <div class="top-pane">
        <div class="progress-bar">
            <div class="progress-bar-inner">
                <div
                    class="progress-bar-fill"
                    [style.width]="progressBarWidth"
                ></div>
            </div>
        </div>
        <div class="content" *ngIf="page">
            <div class="content-inner" *ngIf="page.type === 'LESSON'">
                <div
                    [fittext]="true"
                    [maxFontSize]="50"
                    [modelToWatch]="[page, lessonStage]"
                    class="fit-text"
                >
                    <div class="line line-header">Lesson</div>
                    <ng-container *ngIf="lessonStage === 'ENGLISH'">
                        <ng-container
                            *ngFor="
                                let translation of page.card.value
                                    .enTranslations;
                                let last = last;
                                let count = count
                            "
                        >
                            <div class="line line-vocab">
                                {{ translation }}
                            </div>
                            <div
                                class="line line-label"
                                *ngIf="count > 1 && !last"
                            >
                                or
                            </div>
                        </ng-container>
                        <div
                            class="line line-label"
                            *ngIf="page.card.value.enNote"
                        >
                            Note: {{ page.card.value.enNote }}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="lessonStage === 'JAPANESE'">
                        <ng-container
                            *ngFor="
                                let translation of page.card.value
                                    .jpTranslations;
                                let last = last;
                                let count = count
                            "
                        >
                            <div
                                class="line line-vocab-furigana"
                                *ngIf="translation[1]"
                            >
                                {{ translation[0] }}
                            </div>
                            <div class="line line-vocab">
                                {{ translation[1] || translation[0] }}
                            </div>
                            <div
                                class="line line-label"
                                *ngIf="count > 1 && !last"
                            >
                                or
                            </div>
                        </ng-container>
                        <div
                            class="line line-label"
                            *ngIf="page.card.value.jpNote"
                        >
                            Note: {{ page.card.value.jpNote }}
                        </div>
                    </ng-container>
                </div>
                <div class="lesson-lang-indicator">
                    <button
                        class="lesson-lang-indicator-lang jp"
                        [class.active]="lessonStage === 'JAPANESE'"
                        (click)="setLessonStage('JAPANESE')"
                    >
                        <span class="flag-icon flag-icon-jp"></span>
                        <span>Japanese</span>
                    </button>
                    <button
                        class="lesson-lang-indicator-lang en"
                        [class.active]="lessonStage === 'ENGLISH'"
                        (click)="setLessonStage('ENGLISH')"

                    >
                        <span class="flag-icon flag-icon-gb"></span>
                        <span>English</span>
                    </button>
                </div>
            </div>
            <div
                class="content-inner"
                *ngIf="page.type === 'LESSON_INPUT' || page.type === 'REVIEW'"
            >
                <div
                    [fittext]="true"
                    [maxFontSize]="50"
                    [modelToWatch]="page"
                    class="fit-text"
                >
                    <div class="line line-header" *ngIf='page.type === "LESSON_INPUT"'>Lesson</div>
                    <div class="line line-header" *ngIf='page.type === "REVIEW"'>Review</div>
                    <ng-container *ngIf="page.mode === 'enToJp'">
                        <div class="line line-vocab">
                            {{ page.card.value.enTranslations[0] }}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="page.mode === 'jpToEn'">
                        <div
                            class="line line-vocab-furigana"
                            *ngIf="page.card.value.jpTranslations[0][1]"
                        >
                            {{ page.card.value.jpTranslations[0][0] }}
                        </div>
                        <div class="line line-vocab">
                            {{
                                page.card.value.jpTranslations[0][1] ||
                                    page.card.value.jpTranslations[0][0]
                            }}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="page.mode === 'kanjiToKana'">
                        <div class="line line-vocab">
                            {{ page.card.value.jpTranslations[0][1] }}
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="top-bar">
            <div class="left">
                <button class="btn action" [routerLink]="['dashboard']">
                    <i class="material-icons">home</i>
                </button>
            </div>
            <div class="right">
                <span
                    class="counter"
                    @fade
                    *ngIf="['LESSON_INPUT', 'REVIEW'].includes(page?.type)"
                >
                    <i class="material-icons">check</i>{{ itemsCorrect }} /
                    {{ itemsInSession }}
                </span>
                <span
                    class="counter"
                    @fade
                    *ngIf="['LESSON_INPUT', 'LESSON'].includes(page?.type)"
                >
                    <i class="material-icons">inbox</i>{{ totalItemsRemaining }}
                </span>
            </div>
        </div>
    </div>
    <div class="bottom-pane">
        <div class="info-bar">
            <ng-container *ngIf="page">
                <ng-container *ngIf="page.type === 'LESSON'">
                    <div class="info-bar-lessons">
                        <button
                            class="btn info-bar-lesson"
                            [class.active]="page === lesson"
                            *ngFor="
                                let lesson of pages
                                    | filterBy: ['type']:'LESSON':true;
                                let index = index
                            "
                            (click)="
                                goToLesson(index); lessonIndexButton.blur()
                            "
                            #lessonIndexButton
                        >
                            {{ index + 1 }}
                        </button>
                    </div>
                    <button
                        class="btn btn-transparent btn-lesson-next"
                        (click)="nextLesson()"
                    >
                        <i class="material-icons">arrow_forward_ios</i>
                    </button>
                </ng-container>
                <ng-container
                    *ngIf="
                        page.type === 'REVIEW' || page.type === 'LESSON_INPUT'
                    "
                >
                    <ng-container *ngIf="page.mode === 'enToJp'">
                        <span class="flag-icon flag-icon-gb"></span>
                        <i class="material-icons">arrow_forward</i>
                        <span class="flag-icon flag-icon-jp"></span>
                    </ng-container>
                    <ng-container *ngIf="page.mode === 'jpToEn'">
                        <span class="flag-icon flag-icon-jp"></span>
                        <i class="material-icons">arrow_forward</i>
                        <span class="flag-icon flag-icon-gb"></span>
                    </ng-container>
                    <ng-container *ngIf="page.mode === 'kanjiToKana'">
                        <span>漢字</span>
                        <i class="material-icons">arrow_forward</i>
                        <span>かな</span>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <div
            class="input-bar"
            *ngIf="['LESSON_INPUT', 'REVIEW'].includes(page?.type)"
            [class.success]="
                inputStage === 'FEEDBACK' && inputFeedback === 'CORRECT'
            "
            [class.failure]="
                inputStage === 'FEEDBACK' && inputFeedback === 'INCORRECT'
            "
            @vshrink
        >
            <input
                type="text"
                class="input animate__animated"
                placeholder="Your Response"
                [class.animate__shakeX]="shakeInputAnimation"
                [style.--animate-duration]="'0.5s'"
                #answerInput
                [wanakana]="enableIME"
                (wkInput)="answer = $event"
                [readOnly]="inputStage === 'FEEDBACK'"
            />
            <button
                class="btn btn-rect btn-transparent btn-submit"
                (click)="onEnterKey($event)"
            >
                <i class="material-icons">arrow_forward_ios</i>
            </button>
        </div>
        <div
            class="card answer-card"
            *ngIf="answerShown && canToggleAnswer"
            @vshrink
        >
            <h2 style="margin-bottom: 0.25em">Answers</h2>
            <div class="grid xs-1 sm-2">
                <div class="answer-lang">
                    <h2>
                        <span class="flag-icon flag-icon-gb"></span>
                        English
                    </h2>
                    <ul>
                        <li
                            *ngFor="
                                let translation of page.card.value
                                    .enTranslations
                            "
                        >
                            {{ translation }}
                        </li>
                    </ul>
                    <ng-container *ngIf="page.card.value.enNote">
                        <h3>Note</h3>
                        <span>{{ page.card.value.enNote }}</span>
                    </ng-container>
                </div>
                <div class="answer-lang">
                    <h2>
                        <span class="flag-icon flag-icon-jp"></span>
                        Japanese
                    </h2>
                    <ul>
                        <ng-container
                            *ngFor="
                                let translation of page.card.value
                                    .jpTranslations
                            "
                        >
                            <li *ngIf="translation.length === 2">
                                {{ translation[1] }} ({{ translation[0] }})
                            </li>
                            <li *ngIf="translation.length === 1">
                                {{ translation[0] }}
                            </li>
                        </ng-container>
                    </ul>
                    <ng-container *ngIf="page.card.value.jpNote">
                        <h3>Note</h3>
                        <span>{{ page.card.value.jpNote }}</span>
                    </ng-container>
                </div>
            </div>
        </div>
        <div
            class="card feedback-action-bar"
            @vshrink
            *ngIf="canToggleAnswer || canIgnoreAnswer"
        >
            <button
                class="btn btn-transparent"
                [disabled]="!canToggleAnswer"
                (click)="answerShown = !answerShown"
            >
                <i class="material-icons">visibility</i>
                <span *ngIf="!answerShown">Show Answer</span>
                <span *ngIf="answerShown">Hide Answer</span>
            </button>
            <button class="btn btn-transparent" [disabled]="!canIgnoreAnswer">
                <i class="material-icons">redo</i>
                <span>Ignore Answer</span>
            </button>
        </div>
    </div>
</div>
