<div class='card'>
    <app-collapsible [title]='"Today"' [collapsed]='false' #collapsible>
        <div class='collapsible-header schedule-row-header'>
            <i class="material-icons">expand_less</i>
            <span class='title'>
                Today
            </span>
            <span class='addition'>+30</span>
            <span class='total'>129</span>
        </div>
        <div class='schedule-row'>
            <div class='time'>9PM</div>
            <div class='bar'>
                <div class='bar-fill' [style.width]='"100%"'></div>
            </div>
            <div class='addition'>+30</div>
            <div class='total'>129</div>
        </div>
        <div class='schedule-row'>
            <div class='time'>9PM</div>
            <div class='bar'>
                <div class='bar-fill' [style.width]='"100%"'></div>
            </div>
            <div class='addition'>+30</div>
            <div class='total'>129</div>
        </div>
        <div class='schedule-row'>
            <div class='time'>9PM</div>
            <div class='bar'>
                <div class='bar-fill' [style.width]='"100%"'></div>
            </div>
            <div class='addition'>+30</div>
            <div class='total'>129</div>
        </div>
    </app-collapsible>
    <app-collapsible [title]='"Today"' [collapsed]='false' #collapsible>
        <div class='collapsible-header schedule-row-header'>
            <i class="material-icons">expand_less</i>
            <span class='title'>
                Today
            </span>
            <span class='addition'>+30</span>
            <span class='total'>129</span>
        </div>
        <div class='schedule-row'>
            <div class='time'>9PM</div>
            <div class='bar'>
                <div class='bar-fill' [style.width]='"100%"'></div>
            </div>
            <div class='addition'>+30</div>
            <div class='total'>129</div>
        </div>
        <div class='schedule-row'>
            <div class='time'>9PM</div>
            <div class='bar'>
                <div class='bar-fill' [style.width]='"100%"'></div>
            </div>
            <div class='addition'>+30</div>
            <div class='total'>129</div>
        </div>
        <div class='schedule-row'>
            <div class='time'>9PM</div>
            <div class='bar'>
                <div class='bar-fill' [style.width]='"100%"'></div>
            </div>
            <div class='addition'>+30</div>
            <div class='total'>129</div>
        </div>
    </app-collapsible>
</div>
