<div class="card">
    <app-collapsible
        *ngFor="let dayItem of dayItems; let index = index"
        [locked]="!dayItem.hourItems.length"
    >
        <div class="collapsible-header schedule-row-header">
            <i class="material-icons">expand_less</i>
            <span class="title"> {{ dayItem.title }} </span>
            <span class="addition">+{{ dayItem.mod }}</span>
            <span class="total">{{ dayItem.total }}</span>
        </div>
        <div class="schedule-row" *ngFor="let hourItem of dayItem.hourItems">
            <div class="time">
                {{ hourItem.time | amFromUnix | amDateFormat: 'hA' }}
            </div>
            <div class="bar">
                <div class="bar-fill" [style.width]="hourItem.barWidth"></div>
            </div>
            <div class="addition">+{{ hourItem.mod }}</div>
            <div class="total">{{ hourItem.total }}</div>
        </div>
    </app-collapsible>
</div>
