<app-main-nav [backRoute]="['dashboard']"></app-main-nav>
<div class="page-container">
    <div class="grid xs-1 sm-1" *ngIf="set">
        <app-card-set-card
            [set]="set"
            [config]="{ showManageAction: false }"
            (changeModes)="changeSetModes(set)"
            (rename)="renameSet(set)"
            (delete)="deleteSet(set)"
            (exportFile)='exportSet(set)'
        ></app-card-set-card>
        <div class="section-header">
            <h1 class="section-header-title">
                Set Cards
                <span class="counter-badge">{{ set.cards?.length || 0 }}</span>
            </h1>
            <div class="section-header-actions">
                <button
                    class="btn btn-rect btn-transparent"
                    (click)="createCard()"
                >
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
        <div class="grid xs-1 sm-1" *ngIf="!set.cards?.length" @vshrink>
            <div class="card-flat-outline no-cards">
                <span> This set currently doesn't have any cards. </span>
                <span>
                    Start by
                    <a (click)="createCard()">creating</a>
                    one!
                </span>
            </div>
        </div>
        <div class="grid xs-1 sm-2 md-3 lg-4" *ngIf="set.cards?.length">
            <div *ngFor="let card of set.cards; trackBy: trackCardBy" @fadeUp>
                <app-card-card
                    [card]="card"
                    (edit)="editCard(card)"
                    (remove)="removeCard(card)"
                ></app-card-card>
            </div>
        </div>
    </div>
</div>
