<app-main-nav></app-main-nav>
<div class="page-container">
    <div class="grid xs-1 sm-3">
        <!-- MAIN COLUMN -->
        <div class="grid xs-1 sm-1 xs-span-1 sm-span-2">
            <!-- ALL SETS-->
            <div class="section-header">
                <h1 class="section-header-title">All Sets</h1>
            </div>
            <div class="card lessons-reviews-card">
                <div class="grid xs-2 sm-2">
                    <button
                        class="btn btn-rect"
                        [ngClass]="
                            !!srsStatus.lessons
                                ? 'btn-primary'
                                : 'btn-unavailable'
                        "
                        [disabled]="!srsStatus.lessons"
                        [routerLink]="['/lessons']"
                    >
                        <div class="btn-content">
                            <span>Lessons</span>
                            <span class="btn-counter-badge">
                                {{ srsStatus.lessons }}
                            </span>
                        </div>
                    </button>
                    <button
                        class="btn btn-rect"
                        [ngClass]="
                            !!srsStatus.reviews
                                ? 'btn-primary'
                                : 'btn-unavailable'
                        "
                        [disabled]="!srsStatus.reviews"
                        [routerLink]="['/reviews']"
                    >
                        <div class="btn-content">
                            <span>Reviews</span>
                            <span class="btn-counter-badge">
                                {{ srsStatus.reviews }}
                            </span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="srs-groups grid xs-2 sm-5">
                <div
                    class="card srs-group"
                    [class.xs-span-2]="index === 0"
                    *ngFor="
                        let group of srsService.srsGroups;
                        let index = index
                    "
                    [style.background-color]="group.bgColor"
                    [style.color]="group.fgColor"
                >
                    <span>
                        {{ srsService.getCountForGroup(index, srsStatus) }}
                    </span>
                    <span>{{ group.name }}</span>
                </div>
            </div>
            <!--/ALL SETS-->

            <!-- YOUR SETS-->
            <div class="section-header">
                <h1 class="section-header-title">Your Sets</h1>
                <div class="section-header-actions">
                    <button
                        class="btn btn-rect btn-transparent"
                        (click)="openSetActionsModal($event)"
                    >
                        <i class="material-icons">more_vert</i>
                    </button>
                </div>
            </div>
            <div class="set-list">
                <div
                    class="card-flat-outline set-list-issue"
                    *ngIf="
                        refreshStatus === 'IN_PROGRESS' ||
                        (refreshStatus === 'SUCCESS' && !sets?.length) ||
                        refreshStatus === 'ERROR'
                    "
                    @vshrink
                >
                    <div *ngIf="refreshStatus === 'IN_PROGRESS'" @vshrink>
                        <app-spinner></app-spinner>
                        <span class="set-list-issue-description">
                            Loading your sets...
                        </span>
                    </div>
                    <div
                        *ngIf="refreshStatus === 'SUCCESS' && !sets?.length"
                        @vshrink
                    >
                        <div class="set-list-issue-description">
                            <span> You currently don't have any sets. </span>
                            <br />
                            <span>
                                Start by
                                <a (click)="!!createSet()">creating</a>
                                one!
                            </span>
                        </div>
                    </div>
                    <div *ngIf="refreshStatus === 'ERROR'" @vshrink>
                        <span class="set-list-issue-description">
                            Your sets could not be loaded.
                            <br />
                            You could try
                            <a (click)="!!refreshData()">refreshing</a>
                            the list.
                        </span>
                    </div>
                </div>

                <div *ngFor="let set of sets; trackBy: trackSetBy" @fade>
                    <app-card-set-card
                        [set]="set"
                        (changedModes)="updatedSet($event)"
                        (renamed)="updatedSet($event)"
                        (removed)="removedSet(set)"
                    ></app-card-set-card>
                </div>
            </div>
            <!--/YOUR SETS-->
        </div>
        <!--/MAIN COLUMN -->

        <!-- SIDE COLUMN -->
        <div class="grid span-1">
            <!-- REVIEW FORECAST -->
            <div class="section-header">
                <h1 class="section-header-title">Review Forecast</h1>
            </div>
            <app-review-forecast [reviews]="reviews"></app-review-forecast>
            <!--/REVIEW FORECAST -->
        </div>
        <!--/SIDE COLUMN -->
    </div>
</div>
