@import 'responsive.scss';
@import 'layouts.scss';

:host {
    display: block;
}

.lessons-reviews-card {
    button {
        height: 100px;
        .btn-content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
}

.srs-groups {
    .srs-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5em;
        position: relative;

        @for $i from 1 through 5 {
            &-#{$i} {
                background-color: var(--color-srs-group-#{$i});
                color: var(--color-on-srs-group-#{$i});
            }
        }

        span:first-child {
            font-size: 2.5em;
            font-weight: 400;
            margin-bottom: 0.5em;
        }

        span:last-child {
            opacity: 0.75;
        }

        @include bp(xs) {
            padding: 0.5em;

            span:first-child {
                margin-bottom: 0;
            }
        }
    }
}

.set-list {
    &-issue {
        margin-bottom: $layout-gap;

        app-spinner {
            margin-bottom: 2em;
        }

        &-description {
            text-align: center;
        }
    }

    div:not(:last-child) > app-card-set-card {
        display: block;
        margin-bottom: $layout-gap;
    }
}
