@import 'responsive.scss';

:host {
    display: block;
}

.srs-groups {
    .srs-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5em;
        position: relative;

        @for $i from 1 through 5 {
            &-#{$i} {
                background-color: var(--color-srs-group-#{$i});
                color: var(--color-on-srs-group-#{$i});
            }
        }

        span:first-child {
            font-size: 2.5em;
            font-weight: 400;
            margin-bottom: 0.5em;
        }

        span:last-child {
            opacity: 0.75;
        }
    }
}
