@import 'materials.scss';

:host {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog {
    @include surface();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    width: 100%;
    text-align: center;

    button {
        width: 100%;
        display: block;

        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }

    span {
        margin: 1em 0 2em 0;
    }

    i.material-icons {
        color: var(--color-primary);
        font-size: 4em;
    }
}
