<app-mobile-nav
    *ngIf="menuService.showMobileMenu | async"
    [@fade]
></app-mobile-nav>
<div
    [@routeAnimations]="
        o && o.activatedRouteData && o.activatedRouteData['animation']
    "
    class="route-container"
    [class.showMobileMenu]="menuService.showMobileMenu | async"
>
    <router-outlet #o="outlet"></router-outlet>
</div>
<div id="global-overlay-container"></div>
<div id="snackbar-overlay-container">
    <div
        class="snackbar-container"
        *ngFor="
            let snackbar of snackbarService.snackbars | async;
            trackBy: snackbarService.trackSnackbarBy
        "
        [@fadeUp]
    >
        <app-snackbar [snackbar]="snackbar"></app-snackbar>
    </div>
</div>
