@import 'responsive.scss';

$layout-gap: 1.5em;

.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: $layout-gap;

    > *:not(:last-child) {
        margin-bottom: $layout-gap;
    }
}

.grid {
    display: grid;
    grid-gap: $layout-gap;
    grid-auto-columns: auto;
    align-self: start;

    > * {
        max-width: 100%;
        //overflow: hidden;
    }

    @each $breakpoint in $breakpoint-tokens {
        @for $i from 1 through 12 {
            &.#{$breakpoint}-#{$i} {
                @include breakpoint($breakpoint) {
                    grid-template-columns: repeat(#{$i}, 1fr);
                }
            }
        }
        @for $i from 1 through 12 {
            .span-#{$i} {
                grid-column: span #{$i};
            }
            .#{$breakpoint}-span-#{$i} {
                @include breakpoint($breakpoint) {
                    grid-column: span #{$i};
                }
            }
        }
    }
}
