@import 'shadows.scss';

$mat-surface-border-radius: 0.5em;

@mixin surface() {
    border-radius: $mat-surface-border-radius;
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    transition: all 0.15s ease;
    border-style: solid;
    border-color: var(--color-surface-border);
    border-width: var(--border-width-surface);
    @include shadow(3);
}
