
.counter-badge {
    display: block;
    flex-shrink: 0;
    background: white;
    border-radius: 9999999px;
    margin-left: 1em;
    padding: 0.25em 0.5em;
    min-width: 2em;
    color: var(--scoped-bg-color);
    font-weight: 600;
}
