@import 'cards.scss';

label {
    margin-bottom: 0.25em;
    text-align: left;
}

app-checkbox {
    margin-right: 1em;
}

.modal-content {
    input {
        max-width: 100%;
    }

    h2 {
        margin: 0.5em 0;
    }
}

.translations {
    border: 1px solid var(--color-surface-border);
    width: 100%;
    border-radius: 0.25em;
    overflow: hidden;

    .no-translations {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
        opacity: 0.75;
        font-size: 1em;

        .flag-icon {
            margin-bottom: 0.25em;
            font-size: 2em;
            @include shadow(3, true);
            border-radius: 0.125em;
            border: 1px solid var(--color-surface-border);
            overflow: hidden;

            &.flag-icon-gb {
                border-color: transparent;
            }
        }
    }

    .translation {
        display: flex;
        flex-direction: row;
        align-items: center;

        .values {
            flex: 1;
            padding: 1em;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .value {
                font-size: 1.25em;
            }
        }

        .actions {
            padding: 0 1em;
            flex-shrink: 0;

            button.action {
                background: none;
                border: none;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.15s ease;
                color: var(--color-on-surface);

                &:hover {
                    transform: translateY(-1px);
                }

                &:active {
                    transform: translateY(0);
                    opacity: 0.5;
                }
            }
        }
    }
}

.alert {
    margin-top: 0.5em;
}

.input-group {
    background: var(--color-surface-mute);
    padding: 1em;
    border-radius: 0.5em;

    input {
        background: var(--color-surface);
        width: 100%;
    }
}

.input-label {
    font-size: 0.9em;
    opacity: 0.75;
    display: block;
    font-weight: 500;
    padding-left: 1em;

    &:not(:first-child) {
        margin-top: 1em;
    }

    & + .input-group {
        margin-top: 0.5em;
    }
}

.input-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    margin-top: 0.5em;

    input {
        flex: 1;
        min-width: 0;
    }

    button {
        flex-shrink: 0;
        margin-left: 0.5em;
    }

    &.note {
    }
}

.tab-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    overflow: hidden;

    &-header {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        margin-bottom: 1em;

        .tab {
            padding: 1em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: all 0.15s ease;
            flex: 1;
            cursor: pointer;
            border-radius: 0.5em 0.5em 0 0;
            user-select: none;

            &:not(.active) {
                color: var(--color-on-surface-mute);

                &:hover {
                    background: var(--color-surface-mute);
                }

                &:active {
                    opacity: 0.7;
                }
            }

            &.active {
                background: var(--color-surface-mute);
            }

            i.material-icons {
                margin-left: 0.25em;

                &.error {
                    color: var(--color-caution);
                }

                &.pending {
                    color: var(--color-warning);
                }

                &.valid {
                    color: var(--color-success);
                }
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }
}

.jp-input-grid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5em;
    grid-template-rows: repeat(4, auto);

    input {
        margin-top: 0;
    }

    .input-label {
        margin-top: 0.25em;
    }

    > button {
        //justify-self: center;
        //align-self: center;
    }
}
