<div class="action-header">
    <button
        class="btn btn-rect btn-action"
        (click)="menuService.toggleMobileMenu()"
    >
        <i class="material-icons">clear</i>
    </button>
</div>
<div class="account-block" *ngIf="user">
    <div class="avatar">
        <svg
            [attr.data-jdenticon-value]="
                user.username + '#' + (user.discriminator + '').padStart(4, '0')
            "
        ></svg>
    </div>
    <span class="username">
        <span>{{ user.username }}</span>
        <span>#{{ (user.discriminator + '').padStart(4, '0') }}</span>
    </span>
    <span class="email">
        {{ user.email }}
    </span>
</div>
<div class="separator"></div>
<div class="theme-selector">
    <button
        [class.active]="theme.settings.mode === 'SYSTEM'"
        (click)="theme.setMode('SYSTEM')"
    >
        <i class="material-icons">brightness_auto</i>
    </button>
    <button
        [class.active]="theme.settings.mode === 'LIGHT'"
        (click)="theme.setMode('LIGHT')"
    >
        <i class="material-icons">brightness_5</i>
    </button>
    <button
        [class.active]="theme.settings.mode === 'DARK'"
        (click)="theme.setMode('DARK')"
    >
        <i class="material-icons">nights_stay</i>
    </button>
</div>
<!--<div class="separator"></div>-->
<div class="menu-block">
    <button class="menu-item" routerLink="/dashboard" routerLinkActive="active">
        <i class="material-icons">dashboard</i>
        <span>Dashboard</span>
    </button>
    <button
        class="menu-item"
        routerLink="/browsesets"
        routerLinkActive="active"
    >
        <i class="material-icons">move_to_inbox</i>
        <span>Discover Sets</span>
    </button>
</div>
<div class="menu-block">
    <button class="menu-item" (click)="authService.logout()">
        <i class="material-icons">exit_to_app</i>
        <span>Log Out</span>
    </button>
</div>
