<div class="modal-bg" @bg @triggerModal>
    <div
        class="modal modal-md"
        @modal
        (clickOutside)="close()"
        [smoothHeight]="page"
    >
        <div class="modal-page" *ngIf="page === 'NAME'" @modalPage>
            <div class="modal-header">
                <h1>Change Set Name</h1>
                <h2>{{ set.name }}</h2>
            </div>
            <div class="modal-content ai-center">
                <input
                    class="input input-large"
                    type="text"
                    placeholder="Set name"
                    [(ngModel)]="setName"
                    maxlength="128"
                    (keyup.enter)="isSetNameValid && updateSet()"
                    #nameInput
                />
            </div>
            <div class="modal-actions">
                <button class="button btn btn-secondary" (click)="close()">
                    Cancel
                </button>
                <button
                    class="button btn btn-primary"
                    [disabled]="!isSetNameValid"
                    (click)="updateSet()"
                >
                    Save
                </button>
            </div>
        </div>
        <div class="modal-page" *ngIf="page === 'UPDATING'" @modalPage>
            <div class="modal-header">
                <h1>Change Set Name</h1>
                <h2>{{ set.name }}</h2>
            </div>
            <div
                class="modal-content ai-center no-padding"
                [smoothHeight]="updateStatus"
            >
                <div
                    @crossFade
                    class="modal-status-container"
                    *ngIf="updateStatus === 'IN_PROGRESS'"
                >
                    <app-spinner size="NORMAL"></app-spinner>
                    <span class="status-message">Updating set name...</span>
                </div>
                <div
                    @crossFade
                    class="modal-status-container"
                    *ngIf="updateStatus === 'ERROR'"
                >
                    <i class="material-icons error-icon">error_outline</i>
                    <span class="status-message">
                        {{ errorMessage }}
                    </span>
                </div>
                <div
                    @crossFade
                    class="modal-status-container"
                    *ngIf="updateStatus === 'SUCCESS'"
                >
                    <i class="material-icons success-icon"
                    >check_circle_outline</i
                    >
                    <span class="status-message">
                        <span>Set '{{ set.name }}' updated successfully!</span>
                    </span>
                </div>
            </div>
            <div class="modal-actions">
                <button
                    class="button btn btn-secondary"
                    (click)="updateSet()"
                    *ngIf="updateStatus === 'ERROR'"
                    @hshrink
                >
                    Retry
                </button>
                <button
                    class="button btn btn-secondary"
                    (click)="close()"
                    [disabled]="updateStatus === 'IN_PROGRESS'"
                    @hshrink
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
