<div class="card dialog">
    <app-logo></app-logo>
    <span class="title">Log in</span>
    <form class="input-block" (ngSubmit)="onFormSubmit()">
        <input
            class="input"
            type="text"
            name="email"
            placeholder="E-mail address"
            [(ngModel)]="email"
        />
        <input
            class="input"
            type="password"
            name="password"
            placeholder="Password"
            [(ngModel)]="password"
        />
        <input type="submit" style="visibility: hidden; position: absolute" />
        <div class="alert alert-error login-error" *ngIf="loginError" @vshrink>
            {{ loginError }}
        </div>
    </form>
    <button
        class="btn btn-primary"
        (click)="onFormSubmit()"
        [disabled]="
            loginStatus === 'IN_PROGRESS' ||
            loginStatus === 'SUCCESS' ||
            (!email && !password)
        "
    >
        <div class="flex-row jc-center ai-center">
            <div *ngIf="loginStatus === 'IN_PROGRESS'" @hshrink>
                <app-spinner [size]="'SMALL'"></app-spinner>
            </div>
            <div
                *ngIf="loginStatus === 'IDLE' || loginStatus === 'ERROR'"
                @hshrink
                class='nowrap'
            >
                Log In
            </div>
            <div *ngIf="loginStatus === 'SUCCESS'" @hshrink>
                <i class="material-icons">done</i>
            </div>
        </div>
    </button>
    <button class="btn btn-secondary">Create Account</button>
    <a href="#" class="forgot-password">I forgot my password</a>
</div>
