<div class="dialog">
    <div class="logo"><span>白紙</span><span>SRS</span></div>
    <span class="title">Log in</span>
    <div class="input-block">
        <input
            class="input"
            type="text"
            name="email"
            placeholder="E-mail address"
        />
        <input
            class="input"
            type="password"
            name="password"
            placeholder="Password"
        />
    </div>
    <button class="btn btn-primary">Login</button>
    <button class="btn btn-secondary">Create Account</button>
    <a href="#" class="forgot-password">I forgot my password</a>
</div>
