<div class="dialog-container" *ngIf="mode === 'LOGIN'" @fadeUp>
    <div class="card dialog">
        <app-logo></app-logo>
        <span class="title">Sign in</span>
        <form
            class="input-block"
            [formGroup]="loginForm"
            (ngSubmit)="onLoginClick()"
        >
            <input
                class="input"
                type="text"
                name="email"
                placeholder="E-mail address"
                formControlName="email"
            />
            <input
                class="input"
                type="password"
                name="password"
                placeholder="Password"
                formControlName="password"
            />
            <input
                type="submit"
                style="visibility: hidden; position: absolute"
            />
            <div
                class="alert alert-error login-error"
                *ngIf="loginError"
                @vshrink
            >
                {{ loginError }}
            </div>
        </form>
        <button
            class="btn btn-primary"
            (click)="onLoginClick()"
            [disabled]="
                loginStatus === 'IN_PROGRESS' ||
                loginStatus === 'SUCCESS' ||
                loginForm.invalid
            "
        >
            <div class="flex-row jc-center ai-center">
                <div *ngIf="loginStatus === 'IN_PROGRESS'" @hshrink>
                    <app-spinner [size]="'SMALL'"></app-spinner>
                </div>
                <div
                    *ngIf="loginStatus === 'IDLE' || loginStatus === 'ERROR'"
                    @hshrink
                    class="nowrap"
                >
                    Sign In
                </div>
                <div *ngIf="loginStatus === 'SUCCESS'" @hshrink>
                    <i class="material-icons">done</i>
                </div>
            </div>
        </button>
        <button
            class="btn btn-secondary"
            (click)="setMode('REGISTER')"
            [disabled]="
                loginStatus === 'IN_PROGRESS' || loginStatus === 'SUCCESS'
            "
        >
            Register
        </button>
        <a
            [routerLink]=""
            (click)="setMode('FORGOT_PASSWORD')"
            class="forgot-password"
            >I forgot my password</a
        >
    </div>
</div>

<div class="dialog-container" *ngIf="mode === 'REGISTER'" @fadeUp>
    <div class="card dialog">
        <span class="title">Register Account</span>
        <form
            class="input-block"
            [formGroup]="registerForm"
            (ngSubmit)="onRegisterClick()"
        >
            <input
                class="input"
                type="text"
                name="username"
                placeholder="Username"
                formControlName="username"
            />
            <div
                class="alert alert-error login-error"
                *ngIf="showForInvalid(registerForm, 'username')"
                @vshrink
            >
                <ng-container
                    *ngIf="registerForm.get('username').errors.required"
                >
                    A username is required.
                </ng-container>
                <ng-container
                    *ngIf="registerForm.get('username').errors.minlength"
                >
                    Your username must be at least 3 characters long.
                </ng-container>
                <ng-container
                    *ngIf="registerForm.get('username').errors.maxlength"
                >
                    Your username can only be 32 characters long maximum.
                </ng-container>
                <ng-container
                    *ngIf="registerForm.get('username').errors.pattern"
                >
                    Your username can only contain letters, numbers, dashes (-)
                    and underscores (_), with no spacing allowed.
                </ng-container>
            </div>
            <input
                class="input"
                type="text"
                name="email"
                placeholder="E-mail address"
                formControlName="email"
            />
            <div
                class="alert alert-error login-error"
                *ngIf="showForInvalid(registerForm, 'email')"
                @vshrink
            >
                <ng-container *ngIf="registerForm.get('email').errors.required">
                    A valid e-mail address is required.
                </ng-container>
                <ng-container *ngIf="registerForm.get('email').errors.email">
                    Only a valid e-mail address is accepted.
                </ng-container>
            </div>
            <input
                class="input"
                type="password"
                name="password"
                placeholder="Password"
                formControlName="password"
            />
            <div
                class="alert alert-error login-error"
                *ngIf="showForInvalid(registerForm, 'password')"
                @vshrink
            >
                <ng-container
                    *ngIf="registerForm.get('password').errors.required"
                >
                    You must provide a password.
                </ng-container>
                <ng-container
                    *ngIf="registerForm.get('password').errors.minlength"
                >
                    Your password must be at least 6 characters.
                </ng-container>
                <ng-container
                    *ngIf="registerForm.get('password').errors.maxlength"
                >
                    Your password can only be 32 characters long maximum.
                </ng-container>
            </div>
            <input
                class="input"
                type="password"
                name="passwordConfirm"
                placeholder="Confirm password"
                formControlName="passwordConfirm"
            />
            <div
                class="alert alert-error login-error"
                *ngIf="
                    showForInvalid(registerForm, 'passwordConfirm') ||
                    (registerForm.errors?.passwordNoMatch &&
                        (registerForm.get('passwordConfirm').touched ||
                            registerForm.get('passwordConfirm').dirty))
                "
                @vshrink
            >
                <ng-container *ngIf="registerForm.errors?.passwordNoMatch">
                    Please make sure your password confirmation matches your
                    given password.
                </ng-container>
            </div>
            <input
                type="submit"
                style="visibility: hidden; position: absolute"
            />
            <div
                class="alert alert-error login-error"
                *ngIf="registerError"
                @vshrink
            >
                {{ registerError }}
            </div>
        </form>
        <button
            class="btn btn-primary"
            (click)="onRegisterClick()"
            [disabled]="
                registerStatus === 'IN_PROGRESS' ||
                registerStatus === 'SUCCESS' ||
                registerForm.invalid
            "
        >
            <div class="flex-row jc-center ai-center">
                <div *ngIf="registerStatus === 'IN_PROGRESS'" @hshrink>
                    <app-spinner [size]="'SMALL'"></app-spinner>
                </div>
                <div
                    *ngIf="
                        registerStatus === 'IDLE' || registerStatus === 'ERROR'
                    "
                    @hshrink
                    class="nowrap"
                >
                    Register
                </div>
                <div *ngIf="registerStatus === 'SUCCESS'" @hshrink>
                    <i class="material-icons">done</i>
                </div>
            </div>
        </button>
        <button
            class="btn btn-secondary"
            (click)="setMode('LOGIN')"
            [disabled]="
                registerStatus === 'IN_PROGRESS' || registerStatus === 'SUCCESS'
            "
        >
            Use Existing Account
        </button>
    </div>
</div>

<div class="dialog-container" *ngIf="mode === 'ACCOUNT_CREATED'" @fadeUp>
    <div class="card dialog">
        <span class="title">Account Created</span>
        <div>
            <div class="text">
                Your account has been created!
                <br />
                You can continue by signing in with the credentials you
                provided.
            </div>
        </div>
        <button class="btn btn-secondary" (click)="setMode('LOGIN')">
            Sign In
        </button>
    </div>
</div>

<div class="dialog-container" *ngIf="mode === 'VERIFY_EMAIL'" @fadeUp>
    <div class="card dialog">
        <span class="title">Activate Account</span>
        <div>
            <div class="text">
                Your account has been created!
                <br />
                Before you can sign in, you must verify your e&#8209;mail
                address to activate your account. Click the link in the
                verification e&#8209;mail that has been sent to you to activate
                your account.
            </div>
        </div>
        <button class="btn btn-secondary" (click)="setMode('LOGIN')">
            Sign In
        </button>
    </div>
</div>

<div
    class="dialog-container"
    *ngIf="mode === 'FORGOT_PASSWORD' && !enablePasswordResets"
    @fadeUp
>
    <div class="card dialog">
        <span class="title">Forgotten Password</span>
        <div>
            <div class="text">
                Password resets have not been enabled for this instance of
                ShiraKamiSRS.
            </div>
            <div class="text">
                In order to reset your password, please contact an administrator
                to reset your password for you.
            </div>
            <div class="text">
                In case you are the administrator, you can find instructions on
                resetting passwords, or configuring password resets
                <a
                    href="https://github.com/BeMacized/ShiraKamiSRS/wiki/Password-Resets"
                    >here</a
                >.
            </div>
        </div>
        <button class="btn btn-secondary" (click)="setMode('LOGIN')">
            Back
        </button>
    </div>
</div>

<div
    class="dialog-container"
    *ngIf="mode === 'FORGOT_PASSWORD' && enablePasswordResets"
    @fadeUp
>
    <div class="card dialog">
        <span class="title">Forgotten Password</span>
        <div *ngIf="resetStatus !== 'SUCCESS'" @vshrink>
            <div class="text">
                To request a password reset, please submit your email address
                below:
            </div>
            <form
                class="input-block"
                [formGroup]="resetForm"
                (ngSubmit)="onResetClick()"
            >
                <input
                    class="input"
                    type="text"
                    name="email"
                    placeholder="E-mail address"
                    formControlName="email"
                />
                <div
                    class="alert alert-error login-error"
                    *ngIf="resetError"
                    @vshrink
                >
                    {{ resetError }}
                </div>
                <input
                    type="submit"
                    style="visibility: hidden; position: absolute"
                />
            </form>
        </div>
        <div *ngIf="resetStatus === 'SUCCESS'" @vshrink>
            <div class="text">Success!</div>
            <div class="text">
                If an account that is tied to the email address you provided
                exists, an email has been sent to it containing a link you can
                use to reset your password.
            </div>
        </div>
        <button
            class="btn btn-primary"
            (click)="onResetClick()"
            [disabled]="
                resetStatus === 'IN_PROGRESS' ||
                resetStatus === 'SUCCESS' ||
                resetForm.invalid
            "
        >
            <div class="flex-row jc-center ai-center">
                <div *ngIf="resetStatus === 'IN_PROGRESS'" @hshrink>
                    <app-spinner [size]="'SMALL'"></app-spinner>
                </div>
                <div
                    *ngIf="resetStatus === 'IDLE' || resetStatus === 'ERROR'"
                    @hshrink
                    class="nowrap"
                >
                    Request Password Reset
                </div>
                <div *ngIf="resetStatus === 'SUCCESS'" @hshrink>
                    <i class="material-icons">done</i>
                </div>
            </div>
        </button>
        <button
            class="btn btn-secondary"
            (click)="setMode('LOGIN')"
            [disabled]="resetStatus === 'IN_PROGRESS'"
        >
            Back
        </button>
    </div>
</div>
