@import 'materials.scss';

:host {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog {
    @include surface();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    width: 100%;

    app-logo {
        margin-bottom: 0.25em;
    }

    .input-block {
        margin: 2em 0;
        width: 100%;
    }

    .title {
        font-weight: 200;
        font-size: 2em;
    }

    a {
        margin-top: 1em;
        font-size: 0.75em;
    }

    button,
    input,
    .login-error {
        width: 100%;
        display: block;

        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
}
