<div class="modal-bg" @bg @triggerModal>
    <div
        class="modal modal-md"
        @modal
        (clickOutside)="close()"
        [smoothHeight]="page"
    >
        <div class="modal-page" *ngIf="page === 'VERIFICATION'" @modalPage>
            <div class="modal-header">
                <h1>Remove Set</h1>
                <h2>{{ set.name }}</h2>
            </div>
            <div class="modal-content ai-center">
                <div class="alert alert-error">
                    WARNING: You are about to remove a set: "{{ set.name }}". Note that
                    you will lose all your progress learning the cards from this
                    set. This cannot be undone.
                </div>
                <p style='padding: 2em 0'>
                    If you are absolutely sure you want to remove this set,
                    please enter its name "<i>{{ set.name }}</i
                    >" in the text field below, before continuing.
                </p>
                <input
                    class="input input-large"
                    type="text"
                    placeholder="Set name"
                    [(ngModel)]="setName"
                    maxlength="128"
                    (keyup.enter)="isSetNameValid && deleteSet()"
                    #nameInput
                />
            </div>
            <div class="modal-actions">
                <button class="button btn btn-secondary" (click)="close()">
                    Cancel
                </button>
                <button
                    class="button btn btn-caution"
                    [disabled]="!isSetNameValid"
                    (click)="deleteSet()"
                >
                    Delete
                </button>
            </div>
        </div>
        <div class="modal-page" *ngIf="page === 'DELETION'" @modalPage>
            <div class="modal-header">
                <h1>Change Set Name</h1>
                <h2>{{ set.name }}</h2>
            </div>
            <div
                class="modal-content ai-center no-padding"
                [smoothHeight]="deletionStatus"
            >
                <div
                    @crossFade
                    class="modal-status-container"
                    *ngIf="deletionStatus === 'IN_PROGRESS'"
                >
                    <app-spinner size="NORMAL"></app-spinner>
                    <span class="status-message">Removing set...</span>
                </div>
                <div
                    @crossFade
                    class="modal-status-container"
                    *ngIf="deletionStatus === 'ERROR'"
                >
                    <i class="material-icons error-icon">error_outline</i>
                    <span class="status-message">
                        {{ errorMessage }}
                    </span>
                </div>
                <div
                    @crossFade
                    class="modal-status-container"
                    *ngIf="deletionStatus === 'SUCCESS'"
                >
                    <i class="material-icons success-icon"
                        >check_circle_outline</i
                    >
                    <span class="status-message">
                        <span>Set '{{ set.name }}' removed successfully!</span>
                    </span>
                </div>
            </div>
            <div class="modal-actions">
                <button
                    class="button btn btn-secondary"
                    (click)="deleteSet()"
                    *ngIf="deletionStatus === 'ERROR'"
                    @hshrink
                >
                    Retry
                </button>
                <button
                    class="button btn btn-secondary"
                    (click)="close()"
                    [disabled]="deletionStatus === 'IN_PROGRESS'"
                    @hshrink
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
