<app-main-nav></app-main-nav>
<div class="page-container">
    <div class="grid xs-12 sm-12">
        <div class="xs-span-12 sm-span-4 md-span-3 grid xs-1 sm-1">
            <div class="section-header">
                <h1 class="section-header-title">Set Repositories</h1>
                <div class="section-header-actions">
                    <button class="btn btn-rect btn-transparent">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="repositories">
                    <div
                        class="repositories-loading"
                        [@vshrink]
                        *ngIf="repositoriesFetchStatus === 'IN_PROGRESS'"
                    >
                        <app-spinner [size]="'SMALL'"></app-spinner>
                        <span>Loading repositories</span>
                    </div>
                    <div
                        class="repositories-empty"
                        *ngIf="
                            repositoriesFetchStatus === 'SUCCESS' &&
                            !repositories.length
                        "
                    >
                        <span>No repositories found!</span>
                    </div>
                    <div
                        class="repositories-error"
                        *ngIf="repositoriesFetchStatus === 'ERROR'"
                    >
                        <span>Could not fetch repositories!</span>
                        <button
                            class="btn btn-small btn-secondary"
                            (click)="fetchRepositories()"
                        >
                            Retry Load
                        </button>
                    </div>
                    <div
                        class="repository"
                        [class.active]="false"
                        *ngFor="let repository of repositories"
                        [@vshrink]
                    >
                        <div class="repository-icon">
                            <div class="repository-icon-bg">
                                <span *ngIf="!repository.imageUrl">{{
                                    repository.name
                                        .substring(0, 1)
                                        .toUpperCase()
                                }}</span>
                                <img
                                    *ngIf="repository.imageUrl"
                                    [srcset]="repository.imageUrl"
                                />
                            </div>
                        </div>
                        <div class="repository-name">{{ repository.name }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="xs-span-12 sm-span-8 md-span-9 grid xs-1 sm-1">
            <div class="section-header">
                <h1 class="section-header-title">
                    <span>Sets</span>
                    <span class="repository-label">ShiraKamiSRS Public</span>
                </h1>
            </div>
            <div class="card set" *ngFor="let number of [0, 1, 2, 3, 4]">
                <h1>
                    <span>Genki 1 (3rd Edition): Lesson 1</span>
                </h1>
                <div class="set-review-modes">
                    <app-review-mode-chip
                        *ngFor="let mode of ['jpToEn', 'enToJp', 'kanjiToKana']"
                        [mode]="asReviewMode(mode)"
                    ></app-review-mode-chip>
                </div>
                <div class="set-description">
                    A card set containing all vocabulary from the first lesson
                    of Genki 1, 3rd edition.
                </div>
                <div class="set-footer">
                    <div class="set-footer-card-count">245 Cards</div>
                    <div class="set-footer-actions">
                        <button class="btn btn-secondary">
                            <i class="material-icons">preview</i>
                            <span>View Cards</span>
                        </button>
                        <button class="btn btn-primary">
                            <i class="material-icons">download</i>
                            <span>Import</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
