:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.fbk-tagline {
    margin-top: -0.5em;
    font-size: 1.5em;
    font-weight: bold;
}

.logo {
    font-size: 4em;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &,
    div {
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
    }

    div {
        transition: all 0.15s ease;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &:nth-child(1),
        &:nth-child(2) {
            color: var(--color-primary);
            font-weight: 200;
        }

        &:last-child {
            color: var(--color-on-surface);
            font-weight: 200;
        }
    }
}
