.logo {
    font-size: 4em;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &, span {
        word-break: keep-all;
        white-space: nowrap;
    }

    span {
        display: inline-block;
        transition: all 0.15s ease;
        overflow: hidden;

        &:nth-child(1),
        &:nth-child(2) {
            color: var(--color-primary);
            font-weight: 200;
        }

        &:last-child {
            color: var(--color-on-surface);
            font-weight: 200;
        }
    }
}
