<div class="card no-padding">
    <div class="card-clipper">
        <div class="card-values-row">
            <div class="v-title">Words</div>
            <div class="card-values">
                <div class="card-value">
                    <div class="card-value-key">
                        <span class="flag-icon flag-icon-gb"></span>
                        <span>EN</span>
                    </div>
                    <div class="card-value-value">
                        <span>{{ card.value.enTranslations[0] }}</span>
                    </div>
                    <div
                        class="card-value-more"
                        *ngIf="card.value.enTranslations.length > 1"
                    >
                        &nbsp;(+{{ card.value.enTranslations.length - 1 }})
                    </div>
                </div>
                <div class="card-value">
                    <div class="card-value-key">
                        <span class="flag-icon flag-icon-jp"></span>
                        <span>JP</span>
                    </div>
                    <div class="card-value-value">
                        <span *ngIf="card.value.jpTranslations[0]?.length === 1">
                            {{ card.value.jpTranslations[0][0] }}
                        </span>
                        <span *ngIf="card.value.jpTranslations[0]?.length === 2">
                            {{ card.value.jpTranslations[0][0] }} ({{
                                card.value.jpTranslations[0][1]
                            }})
                        </span>
                    </div>
                    <div
                        class="card-value-more"
                        *ngIf="card.value.jpTranslations.length > 1"
                    >
                        &nbsp;(+{{ card.value.jpTranslations.length - 1 }})
                    </div>
                </div>
            </div>
        </div>

        <div class="srs-progress">
            <div class="v-title">SRS</div>
            <div class="srs-progress-items">
                <div
                    class="srs-progress-item"
                    [style]="getSrsLevelStyles(getSrsLevel('jpToEn'))"
                >
                    <div class="srs-progress-mode">
                        <span class="flag-icon flag-icon-jp"></span>
                        <i class="material-icons">arrow_forward</i>
                        <span class="flag-icon flag-icon-gb"></span>
                    </div>
                    <div class="srs-progress-label">
                        {{ getSrsLevelLabel(getSrsLevel('jpToEn')) }}
                    </div>
                </div>
                <div
                    class="srs-progress-item"
                    [style]="getSrsLevelStyles(getSrsLevel('enToJp'))"
                >
                    <div class="srs-progress-mode">
                        <span class="flag-icon flag-icon-gb"></span>
                        <i class="material-icons">arrow_forward</i>
                        <span class="flag-icon flag-icon-jp"></span>
                    </div>
                    <div class="srs-progress-label">
                        {{ getSrsLevelLabel(getSrsLevel('enToJp')) }}
                    </div>
                </div>
                <div
                    class="srs-progress-item"
                    [style]="getSrsLevelStyles(getSrsLevel('kanjiToKana'))"
                >
                    <div class="srs-progress-mode">
                        <span>漢字</span>
                        <i class="material-icons">arrow_forward</i>
                        <span>かな</span>
                    </div>
                    <div class="srs-progress-label">
                        {{ getSrsLevelLabel(getSrsLevel('kanjiToKana')) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="action-row">
            <button (click)="edit.emit()">
                <i class="material-icons">edit</i>
            </button>
            <button (click)="remove.emit()">
                <i class="material-icons">delete_forever</i>
            </button>
        </div>
    </div>
</div>
